@import '../mixins';

.cart-modal {
  padding: var(--main-offset);
  width: 580px;
  border-radius: 4px;

  .graph-modal__close {
    display: none;

    @include tablet {
      display: block;
      z-index: 100;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--main-offset);

    @include small-tablet {
      display: block;
    }
  }

  &__title {
    margin: 0;
    font: var(--prehigh-regular);
    font-weight: 700;
    color: var(--color-main);

    @include mobile {
      margin-bottom: var(--second-offset);
    }
  }

  &__order-number {
    font: var(--small-book);
    line-height: 14px;
    color: var(--color-grey);
  }
  &__input {
    color: var(--color-grey);
    background-color: #f6f6f6;

    &:not(:last-child) {
      margin-bottom: var(--small-offset);
    }
  }

  @include small-tablet {
    width: 100%;
    max-width: 570px;
  }

}

.cart-modal-order {
  padding: 30px;
  border-radius: 4px;
  margin-bottom: var(--main-offset);
  border: 1px solid #D9D9D9;

  &__top {
    font: var(--middle-book);
    line-height: 14px;
    color: var(--color-grey);

    span {
      font-weight: 700;
      color: var(--color-main);
    }

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__list {
    display: none;

    &--visible {
      display: block;
    }
  }

  &__quantity,
  &__summ {
    margin-bottom: var(--second-offset);
  }

  &__show {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--second-offset);
    color: var(--color-main);

    svg {
      margin-left: 5px;
      width: 7px;
      height: 7px;
      object-fit: cover;
      fill: currentColor;
      transition: transform 0.3s ease-in-out;
    }

    &--active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .mini-cart__item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.form-label {
  &:not(:last-child) {
    margin-bottom: var(--small-offset);
  }
}

.cart-modal {
  .mini-product {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    // padding: var(--small-offset) var(--second-offset);

    &__image {
      flex-shrink: 0;
      margin-right: var(--small-offset);
      width: 80px;
      height: 45px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    &__text {
      max-width: 290px;
      margin-right: auto;
    }

    &__delete {
      width: auto;
      height: auto;
      font: var(--small-book);
      line-height: 14px;
      color: var(--color-grey);

      svg {
        display: none;
      }
    }

    &__price {
      font: var(--prehigh-regular);
      font-weight: 700;
      color: #4d4d4d;
    }

    &__title {
      margin: 0;
      margin-bottom: var(--small-offset);
      font: var(--small-book);
      line-height: 20px;
    }
  }

  @include mobile {
    display: block;
  }
}



