@import '../mixins';

.graph-modal {
  @include tablet {
    &::before {
      display: none;
    }
  }
}

.prod-modal {
  padding: var(--main-offset);
  border-radius: 4px;
  width: 1140px;

  .graph-modal__close {
    display: none;

    @include tablet {
      display: block;
      z-index: 100;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--main-offset);

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__bottom {
    margin-bottom: var(--main-offset);
  }

  &__video {
    width: 100%;
    height: 456px;

    iframe {
      display: block;
      border: none;
      widows: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include tablet {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

.modal-slider {
  margin-right: var(--second-offset);
  width: calc(50% - (var(--second-offset) / 2));

  &__container {
    overflow: hidden;
    margin-bottom: var(--second-offset);
    width: 100%;
    font-size: 0;

    img {
      width: 100%;
      max-height: 460px;
      object-fit: cover;
    }
  }

  @include small-tablet {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--main-offset);
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: var(--big-offset);
  width: calc(50% - (var(--second-offset) / 2));

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: var(--main-offset);
    font: var(--middle-book);
    color: var(--color-grey);

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__vendor {
    margin-right: var(--main-offset);

    @include desktop {
      margin-right: var(--second-offset);
    }

    @include mobile {
      margin: 0;
      margin-bottom: var(--second-offset);
    }
  }

  &__quantity {
    span {
      color: var(--color-main);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book);
    line-height: 140%;
    color: var(--color-main);
  }

  &__rate {
    margin-bottom: var(--second-offset);

    @include small-tablet {
      margin: 0;
      margin-bottom: var(--second-offset);
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: var(--second-offset);
    font: var(--middle-book);
    color: var(--color-main);
  }

  &__price {
    display: flex;
    align-items: center;

    @include small-tablet {
      margin-bottom: var(--second-offset);
    }
  }

  &__current-price {
    margin-right: 32px;
    font: var(--middle-high-bold);
    color: var(--color-main);
    line-height: 30px;
  }

  &__old-price {
    font: var(--middle-bold);
    line-height: 16px;
    color: var(--color-grey);
  }

  &__order {
    margin-top: auto;
    width: 100%;
  }

  @include small-tablet {
    margin: 0;
    width: 100%;
  }
}

.modal-sizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin-bottom: var(--second-offset);
    &:not(:last-child) {
      margin-right: var(--second-offset);
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
    width: 70px;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    font: var(--small-book);
  }
}

.modal-preview {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  gap: var(--second-offset);

  &__item {
    border-radius: 4px;
    height: 75px;
    transition: opacity 0.3s;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include desktop {
      &:hover {
        opacity: 0.7;
      }
    }

    &--active {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

.modal-note {
  margin-top: 16px;
  &__item {
    padding-left: 25px;
    font: var(--small-book);
    color: var(--color-grey);
    background-image: url('../img/check-list.svg');
    background-size: 15px 15px;
    background-position: left center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-bottom: var(--small-offset);
    }
  }
}

.prod-bottom {
  display: flex;

  &__column {
    width: calc(50% - (var(--second-offset) / 2));

    &:first-child {
      margin-right: var(--second-offset);
    }

    @include small-tablet {
      width: 100%;

      &:first-child {
        margin-right: 0;
        margin-bottom: var(--second-offset);
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book);
    color: var(--color-main);
  }

  &__descr {
    margin: 0;
    max-width: 430px;
    font: var(--middle-book);
    color: var(--color-main);
  }

  @include small-tablet {
    display: block;
  }

}
