@import '../mixins';

.social {
  display: flex;

  &__item {
    margin-right: var(--second-offset);
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
    outline: none;

    &--insta {
      background-image: url('../../img/Instagram.svg');
    }

    &--vk {
      background-image: url('../../img/VK.svg');
    }

    &:focus {
      opacity: 0.7;
    }

    @include desktop {
      &:hover {
        opacity: 0.7;
      }
    }

    &:active {
      opacity: 0.9;
    }
  }

}
