<section class="faq" id="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="faq__list list-reset">
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 1</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими
            людьми</p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 2</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>А это ответ 2: Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Это, дороге лучше? Точках, ему. О путь меня прямо родного если снова, своего правилами запятых ручеек подпоясал ipsum продолжил, не жаренные? Гор скатился несколько заглавных буквенных речью деревни ручеек пунктуация домах взгляд использовало эта, страну жаренные вершину, приставка они города!</p>
        </div>
      </li>
    </ul>
  </div>
</section>
