<section class="quiz">
  <div class="container quiz__container">
    <h2 class="visually-hidden">
      Подбор товара -квиз
    </h2>
    <div class="quiz__content">
      <h3 class="title quiz__title">Мы&nbsp;подберем идеальную пару для вас</h3>
      <p class="quiz__descr">Ответьте на&nbsp;три вопроса и&nbsp;мы&nbsp;вышлем каталог с&nbsp;самыми подходящими для вас моделями</p>
      <form class="quiz-form" method="POST">
        <div class="quiz-questions">

        </div>
        <div class="asd">asdr</div>
      </form>
    </div>
  </div>
</section>
